.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F4F3F3;
    color: #fff;
    padding: 10px;
}

.listitem {
    display: none;
}

/* Style for the logo */
.logo-img {
    width: 50px;
    /* Adjust the size as needed */
    cursor: pointer;
}

/* Style for the menu */
.menu {
    display: flex;
}

.menu a {
    text-decoration: none;
    color: black;
    margin-left: 50px;
}

.menu-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.menu-item {
    margin-right: 20px;
    /* Adjust the spacing as needed */
}

/* Style for the menu button */
.menu-button {
    display: flex;
    text-decoration: none;
}

.btn {
    background-color: rgb(0, 0, 0);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 15px;
}

.btn a {
    text-decoration: none;
    color: #fff;
}

.listmenu {
    display: none;
}

.container {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonials {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
    width: 100%;
}

.testimonial {
    width: 25%;
    margin: 0px 15px 30px 15px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.testimonial img {
    height: 200px;
    object-fit: cover;
}

.quote {
    font-size: 16px;
    font-style: italic;
    line-height: 1.5;
    margin-bottom: 20px;
}

.author {
    font-weight: bold;
    text-align: right;
}

.profile-testimonial {
    width: 100%;
}

.container-rating {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.rating-btn {
    margin: 20px;
    padding: 0px 20px;
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(115, 255, 65);
    color: rgb(127, 104, 0);
    cursor: pointer;
    border-radius: 15px;
}


@media only screen and (max-width: 900px) {
    .testimonial {
        width: 40%;
    }
}

@media only screen and (max-width: 700px) {
    .testimonial {
        width: 100%;
    }
}

@media only screen and (max-width: 651px) {
    nav {
        width: 600px;
    }

    .formI {
        margin-left: -90px;
    }
}

/* Media query for responsive design */
@media only screen and (max-width: 651px) {
    .navbar {
        display: none;
    }

    .listitem {
        display: block;
    }

    /* ................................................ */
    .logom{
        margin-left: 550px;
    }


    .listitem {
        background-color: #F4F3F3;
        width: 650px;
        padding: 20px 0;
    }

    .listitem ul {
        list-style: none;
        padding: 0;
        text-align: center;
    }

    .listitem li {
        margin: 0;
        padding: 0;
    }

    .listitem a {
        display: block;
        text-decoration: none;
        color: rgb(255, 255, 255);
        padding: 10px 20px;
        transition: background-color 0.3s;
    }

    .listitem a:hover {
        background-color: rgb(255, 32, 32);
    }


    .listmenu {
        display: none;
        margin: 20px 0;
       
    }

    .listmenu {
        list-style: none;
        padding: 0;
    }

    .listmenu li {
        margin: 0;
        padding: 0;
    }

    .listmenu a {
        text-decoration: none;
        color: rgb(0, 0, 0);
        padding: 10px 20px;
        display: block;
    }

    .listmenu a:hover {
        background-color: rgb(255, 14, 14);
    }


}